body {
    text-align: center;
	background-color:#FDFDFD;
}

img {
    max-width: 100%;
}

a { color: #555555; outline: 0; }
a:hover, a:focus { color: black; }


/*GRID SYSTEM*/

.grid {
  list-style: none;
  margin: 0 0 0 -30px;
  padding: 0;
}
.grid:before, 
.grid:after {
  content: " ";
  display: table;
}
.grid:after { clear: both; }

.grid__item {
  float: left;
  padding-left: 30px;
  width: 100%;
}

/* adds separation at the bottom of the grid */
.grid--sep { margin-bottom: 18px; }

/* gutterless, no spacing for full. extension of .grid, NOT .grid__item
So, <div class="grid grid--full"> ... */
.grid--full { margin-left: 0; }
.grid--full > .grid__item { padding-left: 0; }


/* Sizes */

/* 1 */
.size-1-1{ width: 100%; }

/* 2 */
.size-1-2 { width: 50%; }

/* 3 */
.size-1-3 { width: 33.333%; }

.size-2-3 { width: 66.666%; }

/* 4 */
.size-1-4 { width: 25%; }

.size-3-4 { width: 75%; }

/* 5 */
.size-1-5 { width: 20%; }
.size-2-5 { width: 40% ;}
.size-3-5 { width: 60%; }
.size-4-5 { width: 80%; }

/* 6 */
.size-1-6 { width: 16.666%; }
.size-5-6 { width: 83.333%; }

/* 8 */
.size-1-8 { width: 12.5%; }
.size-3-8 { width: 37.5%; }
.size-5-8 { width: 62.5%; }
.size-7-8 { width: 87.5%; }

/* 12 */
.size-1-12 { width: 8.333%; }
.size-5-12 { width: 41.666%; }
.size-7-12 { width: 58.333%; }
.size-11-12 { width: 91.666%; }


.container {
    width: 900px;
    margin: 0 auto;
    text-align: left;
    padding: 30px;
}

.logo {
    margin-right: 50px;
    float: left;
    width: 150px;
}

.sig {
    margin-bottom: -32px;
    width: 60%;
}

.topnav {
    float: left;
    text-transform: lowercase;
}

.topnav ul {
    border-width: 1px 0;
    border-style: solid;
    border-color: #555;
    padding: 0;
    position: relative;
    z-index: 1;
}

.topnav li {
    display: inline-block;
}

.topnav a,
.topnav a:link {
    color: #555;
    display: block;
    text-decoration: none;
    padding: 15px 20px;
}

.topnav a:hover,
.topnav a:focus,
.topnav a:active {
    background-color: rgb(136, 203, 175);
}

main {
    margin-top: -70px;
    padding-left: 50px;
}

main h1 {
    margin-left: 190px;
}

.thumbnails {
    background: rgb(136, 203, 175);
    border-radius: 13px;
    display: table;
    list-style: none;
    padding: 30px 35px;
	margin-left: -20px;
    width: 100%;
}

.thumbnails li {
    display: table-cell;
    text-align: center;
}

/* Block */
.block { 
    overflow: hidden; 
}
.block p:last-child { 
    margin-bottom: 0; 
}

.headline { 
    line-height: 1.2; 
}

/* Block Thumbnail with Headline */
.block-thumb { 
    display: table; 
    width: 100%; 
    border-collapse: collapse; }
.block-thumb .b-inner { 
    display: table-row; 
    vertical-align: top; 
    overflow: hidden; 
    text-decoration: none; }
.block-thumb .b-thumb { 
    background: #88cbaf; 
    border-radius: 0.8125em; 
    display: table-cell; 
    vertical-align: top; 
    width: 50%; 
    max-width: 10em; 
    padding: 0.5em; }
.block-thumb .b-thumb img { 
    border-radius: 0.8125em; 
    display: block; 
    width: 100%; 
    height: auto; }
.block-thumb .b-text { 
    display: table-cell; 
    font-size: .8em; 
    width: 50%; 
    padding: 0 1em; }
.block-thumb .b-text p { margin-top: 0; }
.block-thumb .b-title { margin: 0; }

.media-list { 
    list-style: none; 
    padding: 0; 
    margin: 0; }
.media-list li { 
    padding: 0 1em 1em 0; 
    width: 50%; 
    float: left; }


.viewer__list {
    background: #88cbaf;
    border-radius: 13px 0 0 13px;
    padding: 2em;
    list-style: none;
}

.viewer__item {
    padding: .5em 0
}


footer {
    border-top: 1px solid black;
    text-align: center;
}

footer nav ul {
    padding: 0;
}

footer nav li {
    display: inline-block;
}

/* helper classes */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}